<html>
  <head>
    <title>환영합니다!</title>
  </head>
  <body>
    <div>
      <p>등록해 주셔서 감사합니다! 아래 링크를 클릭하여 가입을 완료하세요.
        <a
          href='http://localhost:3000/account/confirm?token={{token}}'
          target='_blank'
        >이메일 계정 승인</a>
      </p>
    </div>
  </body>
</html>