<html>
  <head>
    <title>비밀번호 재설정</title>
  </head>
  <body>
    <div>
      <p>비밀번호 재설정이 요청되었습니다. 계정에 대한 새 비밀번호를 설정하려면
        <a
          href='http://localhost:3000/account/password/new?token={{token}}'
          target='_blank'
        >여기</a>를 클릭하세요. 그렇지 않은 경우 이 메시지를 무시하세요.</p>
    </div>
  </body>
</html>